.div_register_link {
    display: table-cell;
    text-align: right;
    width: 33%;
}

h2 {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 30px;
    text-align: center;
    color: rgba(137, 119, 103, 1);
}

.div_confirm {
    margin: 0px auto;
    width: 50%;
}

.confirm_tbl {
    width: 100%;
}

.confirm_tbl th {
    width: 30%;
    font-size: 16px;
    padding: 5px 10px 20px 20px;
    text-align: left;
    border: 1px solid white;
    color: white;
    background-color: rgba(186, 168, 153, 1);
}

.confirm_tbl td {
    border: 1px solid rgba(186, 168, 153, 1);
    padding: 5px 10px 20px 20px;
    text-align: left;
}

.confirm_tbl td input{
    font-size: 16px;
    font-weight: bold;
    border: none;
    color: rgba(158, 143, 130, 1);
}

.div_confirm_btn{
    width: 50%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
}

.reg_db_btn {
    width: 40%;
    border: none;
    border-radius: 3px;
    background: rgba(130, 117, 106, 1);
    color: white;
    font-size: 18px;
}

.correct_btn {
    width: 40%;
    border: none;
    border-radius: 3px;
    background: white;
    color: rgba(130, 117, 106, 1);
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: rgba(130, 117, 106, 1);
}